:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background: url(../images/bg-pattern-bottom.svg) bottom -600px right -250px
      no-repeat,
    url(../images/bg-pattern-top.svg) top -500px left -300px no-repeat;
  background-color: var(--Dark-cyan);
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

main {
  border: none;
  border-radius: 1em;
  text-align: center;
  background-color: white;
}

svg {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.victor-img img {
  border-radius: 50%;
  border: 7px solid #fefefe;
  transform: translateY(-50%);
  margin-left: 7.5em;
}

.background-container img {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

main h1 {
  font-size: 18px;
  margin-top: -40px;
  margin-bottom: 0.2em;
}

main h1 span {
  color: var(--Dark-gray);
  font-size: 18px;
  font-weight: 400;
  margin-left: 0.2em;
}

main p {
  padding-bottom: 1.3em;
  font-size: 15px;
  font-weight: 400;
  color: var(--Dark-gray);
}

ul {
  border-top: 1px solid rgb(240, 238, 238);
  padding: 1.5em 0.6em 1.5em 0em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

ul li span {
  font-size: 0.7em;
  font-weight: 400;
  color: var(--Dark-gray);
  letter-spacing: 1.5px;
}

@media only screen and (max-width: 900px) {
  body {
    background: url(../images/bg-pattern-bottom.svg) bottom -700px right -550px
        no-repeat,
      url(../images/bg-pattern-top.svg) top -700px left -600px no-repeat;
    background-color: var(--Dark-cyan);
  }
}
